body{
  background-color: #282c34;
}

.App {
  display: Flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100vh;
  color:rgb(132, 224, 255);
}

header{
  border: 1px solid blue;
  width: 80vw;
  height: 10vh;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  margin-left: 200px;
}

.Auth{
  background-color: aliceblue;
  width: 10vw;
  height: 70vh;
  padding: 30px;
}

.Market{
  background-color: aliceblue;
  width: 60vw;
  height: 80vh;
}

.item-map{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding:30px;
}


.Item{
  background-color: #282c34;
  width: 200px;
  height: 200px;
  margin: 20px;
}